<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="eSAR.Properties.Settings.DCFIdb" connectionString="Data Source=192.168.1.108\SQL2008,49172;Network Library=DBMSSOCN;Initial Catalog=DCFI;User ID=sa;Password=D4ns4l4n" providerName="System.Data.SqlClient" />
    <add name="DCFIEntities" connectionString="metadata=res://*/DCFIModel.csdl|res://*/DCFIModel.ssdl|res://*/DCFIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.108\SQL2008,49172;Network Library=DBMSSOCN;initial catalog=DCFI;persist security info=True;user id=sa;password=D4ns4l4n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="eSAR.Properties.Settings.DCFIdb" connectionString="Data Source=(local)\SQL2008;Initial Catalog=DCFI;User ID=sa;Password=arnlea" providerName="System.Data.SqlClient" />
    <add name="DCFIEntities" connectionString="metadata=res://*/DCFIModel.csdl|res://*/DCFIModel.ssdl|res://*/DCFIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL2008;initial catalog=DCFI;persist security info=True;user id=sa;password=arnlea;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>